@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  .prettyscroll {
    font-family: 'Poppins', sans-serif;

    /* SCROLLBAR BODY --------------- */
    --sb-track-color: #3e2332;
    --sb-thumb-color: #ff79c6;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  body::-webkit-scrollbar,
  .prettyscroll::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track,
  .prettyscroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb,
  .prettyscroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }
}

@layer componets {
  .background {
    background-image: url('./background.svg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }
}
@layer utilities {
  .height-min {
    height: calc(100vh - 64px);
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
